<div class="sign-in-wrapper">
  <form [formGroup]="frm">

    <h1>Lista de Compras</h1>

    <input type="text" formControlName="username" placeholder="Email">

    <div class="input-errors" *ngIf="(frm.get('username').invalid && frm.get('username').touched) || showInputErrors">
      <div *ngIf="frm.get('username').hasError('required')">
        Por favor, insira o seu usuário
      </div>
    </div>

    <input type="password" formControlName="password" placeholder="Senha">

    <div class="input-errors" *ngIf="(frm.get('password').invalid && frm.get('password').touched) || showInputErrors">
      <div *ngIf="frm.get('password').hasError('required')">
        Por favor, insira sua senha
      </div>
    </div>

    <div class="sign-in-error" *ngIf="hasFailed">
      Usuário e senha inválidos
    </div>

    <button (click)="doSignIn()" [disabled]="isBusy">
      <ng-template [ngIf]="!isBusy">Entrar</ng-template>
      <ng-template [ngIf]="isBusy">Entrando, por favor espere...</ng-template>
    </button>

    <a routerLink="/sign-up" routerLinkActive="active">Não é cadastrado? Registre-se aqui</a>

  </form>
</div>