<div class="container">
  <div class="row justify-content-end pt-2 pr-2">
    <button class="btn btn-sm btn-outline-dark" (click)="onSair()">Sair</button>
  </div>

  <h1 class="mx-auto text-center display-4 pb-5">Lista de Compras</h1>

  <app-header (add)="onAddCompra($event)"></app-header>
  <app-footer [compras]="compras"></app-footer>
  <app-compra-list [compras]="compras" (toggleCompletada)="onToggleCompraCompletada($event)" (remove)="onRemoveCompra($event)"
    (update)="onUpdateCompra($event)"></app-compra-list>
</div>